<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 
<%- include('../../partials/sidebar.ejs') %> 
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Data SK</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
              <li class="breadcrumb-item active">Data SK</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                      <button class="btn btn-primary"><i class="nav-icon fas fa-plus"></i> Tambah</button>
                  </div>
                  <div class="card-body">
                      <table id="example2" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>SK</th>
                            <th>Aksi</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>1</td>
                            <td>Balai</td>
                            <td>Balai</td>
                            <td>
                              <button class="btn btn-info"><i class="nav-icon fas fa-pencil-alt"></i> </button>
                              <button class="btn btn-danger"><i class="nav-icon fas fa-trash"></i> </button>
                            </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
            </div>
          </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('../../partials/footer.ejs') %> 
  <%- include('../../partials/js.ejs') %> 