<!-- Main content -->
<div class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Tabel Surat Masuk</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="dataTable2">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#add-modal"><i class="nav-icon fas fa-plus"></i> &nbsp;Tambah</button>
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Judul</th>
                            <th>Tanggal</th>
                            <th>File</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% for (let i = 0; i < suratmasuk.length; i++) { %> 
                        <tr>
                          <td><%= i + 1 %></td>
                          <td><%= suratmasuk[i].judul %></td>
                          <td><%= suratmasuk[i].tanggal.getDate() %> - <%= suratmasuk[i].tanggal.getMonth() + 1 %> - <%= suratmasuk[i].tanggal.getFullYear() %></td>
                          <td><img width="150" src="https://t2ku-bmck.herokuapp.com/public/<%= suratmasuk[i].surat_masuk %>" alt=""></td>
                          <td>
                            <a href="javascript:void()" type="button" class="btn btn-info button-update m-1"
                                data-id="<%= suratmasuk[i].id %>"
                                data-judul="<%= suratmasuk[i].judul %>"
                                data-tanggal="<%= suratmasuk[i].tanggal %>"
                                data-suratmasuk="<%= suratmasuk[i].surat_masuk %>"
                              ><i class="nav-icon fas fa-pencil-alt"></i> </a>
                              <button class="btn btn-danger m-1" data-toggle="modal" data-target="#delete_modal<%= suratmasuk[i].id %>"><i class="nav-icon fas fa-trash"></i> </button>
                            
                              <!-- Modal Hapus -->
                              <div class="modal fade" id="delete_modal<%= suratmasuk[i].id %>" tabindex="-1" role="dialog" aria-labelledby="delete_modalTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="delete_modalTitle">Hapus Data Surat Masuk ?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Data yang sudah di hapus tidak dapat dikembalikan lagi.
                                    </div>
                                    <div class="modal-footer">
                                    <form action="/admin/surat/<%= suratmasuk[i].id %>?_method=DELETE" method="POST">
                                      <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </td>
                        </tr>
                        <% } %> 
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Tabel Surat Keluar</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="dataTable1">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#add-suratkeluar-modal"><i class="nav-icon fas fa-plus"></i> &nbsp;Tambah</button>
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Judul</th>
                            <th>Tanggal</th>
                            <th>File</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% for (let i = 0; i < suratkeluar.length; i++) { %> 
                        <tr>
                          <td><%= i + 1 %></td>
                          <td><%= suratkeluar[i].judul %></td>
                          <td><%= suratkeluar[i].tanggal.getDate() %> - <%= suratkeluar[i].tanggal.getMonth() + 1 %> - <%= suratkeluar[i].tanggal.getFullYear() %></td>
                          <td><img width="150" src="https://t2ku-bmck.herokuapp.com/public/<%= suratkeluar[i].surat_keluar %>" alt=""></td>
                          <td>
                            <a href="javascript:void()" type="button" class="btn btn-info button-update m-1"
                                data-id="<%= suratkeluar[i].id %>"
                                data-judul="<%= suratkeluar[i].judul %>"
                                data-tanggal="<%= suratkeluar[i].tanggal %>"
                                data-surat_keluar="<%= suratkeluar[i].surat_masuk %>"
                              ><i class="nav-icon fas fa-pencil-alt"></i> </a>
                              <button class="btn btn-danger m-1" data-toggle="modal" data-target="#delete_modal<%= suratkeluar[i].id %>"><i class="nav-icon fas fa-trash"></i> </button>
                            
                              <!-- Modal Hapus -->
                              <div class="modal fade" id="delete_modal<%= suratkeluar[i].id %>" tabindex="-1" role="dialog" aria-labelledby="delete_modalTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="delete_modalTitle">Hapus Data Surat Masuk ?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Data yang sudah di hapus tidak dapat dikembalikan lagi.
                                    </div>
                                    <div class="modal-footer">
                                    <form action="/admin/suratkeluar/<%= suratkeluar[i].id %>?_method=DELETE" method="POST">
                                      <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </td>
                        </tr>
                        <% } %> 
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
        </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->