<!-- Main content -->
<div class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-primary card-outline">
                <div class="card-header">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#add-modal"><i class="nav-icon fas fa-plus"></i> Tambah</button>
                    <a class="btn btn-primary" href="/admin/downloadExcel"><i class="nav-icon fas fa-plus"></i> Export Excel</a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="dataTable">
                        <thead>
                        <tr>
                          <th>No.</th>
                          <th>Nama</th>
                          <th>Unker</th>
                          <th>Jabatan</th>
                          <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% for (let i = 0; i < pegawai.length; i++) { %> 
                        <tr>
                          <td><%= i + 1 %></td>
                          <td><%= pegawai[i].nama %></td>
                          <td><%= pegawai[i].unker %></td>
                          <td><%= pegawai[i].jabatanId.jabatan %>, <%= pegawai[i].jabatanId.pendidikan %></td>
                          <td>
                              <a href="javascript:void()" type="button" class="btn btn-info button-update m-1"
                                data-id="<%= pegawai[i].id %>"
                                data-nama="<%= pegawai[i].nama %>"
                                data-unker="<%= pegawai[i].unker %>"
                                data-nik="<%= pegawai[i].nik %>"
                                data-npwp="<%= pegawai[i].npwp %>"
                                data-no_rek_jateng="<%= pegawai[i].no_rek_jateng %>"
                                data-no_rek_bni="<%= pegawai[i].no_rek_bni %>"
                                data-no_bpjs_kes="<%= pegawai[i].no_bpjs_kes %>"
                                data-no_bpjs_ket="<%= pegawai[i].no_bpjs_ket %>"
                                data-tanggal_masuk="<%= pegawai[i].tanggal_masuk %>"
                                data-jabatanId="<%= pegawai[i].jabatanId %>"
                              ><i class="nav-icon fas fa-pencil-alt"></i> </a>
                              <button class="btn btn-secondary m-1" data-toggle="modal" data-target="#detail_modal<%= pegawai[i].id %>"><i class="nav-icon fas fa-eye"></i> </button>
                              <button class="btn btn-danger m-1" data-toggle="modal" data-target="#delete_modal<%= pegawai[i].id %>"><i class="nav-icon fas fa-trash"></i> </button>
                            
                              <!-- Modal Hapus -->
                              <div class="modal fade" id="delete_modal<%= pegawai[i].id %>" tabindex="-1" role="dialog" aria-labelledby="delete_modalTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="delete_modalTitle">Hapus Data Pegawai ?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Data yang sudah di hapus tidak dapat dikembalikan lagi.
                                    </div>
                                    <div class="modal-footer">
                                    <form action="/admin/pegawai/<%= pegawai[i].id %>?_method=DELETE" method="POST">
                                      <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <!-- Modal Detail -->
                              <div class="modal fade" id="detail_modal<%= pegawai[i].id %>" tabindex="-1" role="dialog" aria-labelledby="delete_modalTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="delete_modalTitle">Detail Data Pegawai</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <table class="table table-striped">
                                        <tbody>
                                          <tr>
                                            <td>1. Nama</td>
                                            <td><%= pegawai[i].nama %> </td>
                                          </tr>
                                          <tr>
                                            <td>2. Unit Kerja</td>
                                            <td><%= pegawai[i].unker %> </td>
                                          </tr>
                                          <tr>
                                            <td>3. NIK</td>
                                            <td><%= pegawai[i].nik %> </td>
                                          </tr>
                                          <tr>
                                            <td>4. NPWP</td>
                                            <td><%= pegawai[i].npwp %> </td>
                                          </tr>
                                          <tr>
                                            <td>5. Nomor Rekening Bank Jateng</td>
                                            <td><%= pegawai[i].no_rek_jateng %> </td>
                                          </tr>
                                          <tr>
                                            <td>6. Nomor Rekening Bank BNI</td>
                                            <td><%= pegawai[i].no_rek_bni %> </td>
                                          </tr>
                                          <tr>
                                            <td>7. Nomor BPJS Kesehatan</td>
                                            <td><%= pegawai[i].no_bpjs_kes %> </td>
                                          </tr>
                                          <tr>
                                            <td>8. Nomor BPJS Ketenagakerjaan</td>
                                            <td><%= pegawai[i].no_bpjs_ket %> </td>
                                          </tr>
                                          <tr>
                                            <td>9. Tanggal Masuk</td>
                                            <td><%= pegawai[i].tanggal_masuk %> </td>
                                          </tr>
                                          <tr>
                                            <td>10. Jabatan</td>
                                            <td><%= pegawai[i].jabatanId.jabatan %>, <%= pegawai[i].jabatanId.pendidikan %> </td>
                                          </tr>
                                          <tr>
                                            <td>12. KTP</td>
                                            <td><img width="200" src="https://t2ku-bmck.herokuapp.com/public/<%= pegawai[i].foto_ktp %>"/></td>
                                          </tr>
                                          <tr>
                                            <td>13. NPWP</td>
                                            <td><img width="200" src="https://t2ku-bmck.herokuapp.com/public/<%= pegawai[i].foto_npwp %>"/></td>
                                          </tr>
                                          <tr>
                                            <td>14. Rek. Bank Jateng</td>
                                            <td><img width="200" src="https://t2ku-bmck.herokuapp.com/public/<%= pegawai[i].foto_rek_jateng %>"/></td>
                                          </tr>
                                          <tr>
                                            <td>15. Rek. Bank BNI</td>
                                            <td><img width="200" src="https://t2ku-bmck.herokuapp.com/public/<%= pegawai[i].foto_rek_bni %>"/></td>
                                          </tr>
                                          <tr>
                                            <td>16. BPJS Kesehatan</td>
                                            <td><img width="200" src="https://t2ku-bmck.herokuapp.com/public/<%= pegawai[i].foto_bpjs_kes %>"/></td>
                                          </tr>
                                          <tr>
                                            <td>17. BPJS Ketenagakerjaan</td>
                                            <td><img width="200" src="https://t2ku-bmck.herokuapp.com/public/<%= pegawai[i].foto_bpjs_ket %>"/></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary">Tutup</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </td>
                        </tr>
                        <% } %> 
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
        </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->