<!-- Main content -->
<div class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-9">
              <div class="card card-primary card-outline">
                <div class="card-header">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#add-modal"><i class="nav-icon fas fa-plus"></i> Tambah</button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="dataTable">
                        <thead>
                        <tr>
                          <th>No.</th>
                          <th>Iuran</th>
                          <th>Tanggal</th>
                          <th>Keterangan</th>
                          <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% for (let i = 0; i < pemasukan.length; i++) { %> 
                        <tr>
                          <td><%= i + 1 %></td>
                          <td><%= pemasukan[i].jumlah_iuran %></td>
                          <td><%= pemasukan[i].tanggal.getDate()%> - <%= pemasukan[i].tanggal.getMonth()%> - <%= pemasukan[i].tanggal.getYear() %></td>
                          <td><%= pemasukan[i].keterangan %></td>
                          <td>
                              <a href="javascript:void()" type="button" class="btn btn-info button-update"
                                data-id="<%= pemasukan[i].id %>"
                                data-jumlah_iuran="<%= pemasukan[i].jumlah_iuran %>"
                                data-keterangan="<%= pemasukan[i].keterangan %>"
                              ><i class="nav-icon fas fa-pencil-alt"></i> </a>
                              <button class="btn btn-danger" data-toggle="modal" data-target="#delete_modal<%= pemasukan[i].id %>"><i class="nav-icon fas fa-trash"></i> </button>
                            
                              <!-- Modal Hapus -->
                              <div class="modal fade" id="delete_modal<%= pemasukan[i].id %>" tabindex="-1" role="dialog" aria-labelledby="delete_modalTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="delete_modalTitle">Hapus Data pemasukan ?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Data yang sudah di hapus tidak dapat dikembalikan lagi.
                                    </div>
                                    <div class="modal-footer">
                                    <form action="/admin/pemasukan/<%= pemasukan[i].id %>?_method=DELETE" method="POST">
                                      <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          </td>
                        </tr>
                        <% } %> 
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="small-box bg-info">
                <div class="inner">
                  <h3>150</h3>
  
                  <p>Jumlah Iuran Saat Ini</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
              </div>
          </div>
        </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->