<!-- Main content -->
<div class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card card-primary card-outline">
                <div class="card-header">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#cetak-modal"><i class="nav-icon fas fa-plus"></i> &nbsp;Cetak Slip Gaji</button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="dataTable">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>Jabatan</th>
                            <th>Pendidikan</th>
                            <th>Gaji</th>
                            <!-- <th>Aksi</th> -->
                          </tr>
                        </thead>
                        <tbody>
                        <% for (let i = 0; i < pegawai.length; i++) { %> 
                        <tr>
                          <td><%= i + 1 %></td>
                          <td><%= pegawai[i].nama %></td>
                          <td><%= pegawai[i].jabatanId.jabatan %></td>
                          <td><%= pegawai[i].jabatanId.pendidikan %></td>
                          <td>Rp. <%= pegawai[i].jabatanId.gaji %></td>
                          <!-- <td>
                            <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cetak-modal">Cetak Slip Gaji</a>
                          </td> -->
                        </tr>
                        <% } %> 
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
        </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->